body {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  color: #444;
  line-height: 1.5em;
  background-color: #fff;
  margin: 0;
}

h1 {
  color: #444;
}

h2, h3, h4 {
  color: #fff;
}

a {
  text-decoration: none;
  color: #444;
}

main {
  margin: auto;
  margin-top: 8em;
}

article p {
  color: #fff;
}


/* __________________________HEADER__________________________ */

nav {
  background-color: #73d700;
  height: 6em;
  width: 100%;
  color: #444;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
}

li a img {
  width: 10em;
}

nav ul {
  margin: 0 auto;
  width:  80vw;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-top: 2em;
}

nav ul li:first-child {
  margin-right: auto;
}

nav>ul li a:first-child {
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
  margin-left: -1em;
}

nav>ul li:nth-of-type(2) a, nav>ul li:nth-of-type(3) a {
  visibility: hidden;
  transition: 0.3s;
}

nav>ul li a::before {
  content: "";
  visibility: visible;
  position: absolute;
  height: 2em;
  width: 2em;
  background-size: 2em 2em;
  background-repeat: no-repeat;
}

nav>ul li:nth-of-type(2) a::before {
  background-image: url(../img/lijst.svg);
  margin-top: -0.5em;
}

nav>ul li:last-of-type a::before {
  background-image: url(../img/account.svg);
  margin-top: -0.5em;
}

body>header li a:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 130%;
  transition: 0.3s;
}

/* __________________________CAROUSEL__________________________ */

/* Hele carousel div */
main>section:first-of-type {
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
}

main>section:first-of-type>div:first-of-type {
  width: 80vw;
  height: 45vh;
  margin: 0 auto;
  position: relative;
}

main>section:first-of-type>h1 {
  font-size: 2em;
}

main>section:first-of-type>div div article {
  background-color: #fff;
  width: 80vw;
  height: 42vh;
  margin: 0 auto;
  position: absolute;
  border-radius: 0.5em;
  border: 0.06em solid #73d700;
  transition: 0.5s ease-in-out;
}

main>section:first-of-type div div article:hover,
main>section:first-of-type>div:last-of-type article:hover {
  /* Overlay maken */
  transition: 0.3s ease;
}

main>section:first-of-type>div div article header h2,
main>section:nth-of-type(3)>article header h2 {
  text-align: center;
  margin-top: 5em;
}

/* Verhalen voor naast het carousel voor het medium en grote scherm */
main>section:first-of-type>div:last-of-type {
  display: none;
  background-color: #fff;
  width: 80vw;
  height: 42vh;
}

main>section:first-of-type>div article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5em;
  border: 0.06em solid #73d700;
  transition: 0.5s ease-in-out;
}

/* Centreren content in de articles */
article header,
article footer {
  position: relative;
  z-index: 5;
  text-align: center;
  display: flex;
  margin: 0 auto;
}

/* Afbeelding articles */
main > section > article img,
section:first-of-type > div div article img,
main > section:first-of-type > div:last-of-type article img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-radius: 0.5em;
}

/* Navigatie carousel */
.bolletjes {
  position: absolute;
  z-index: 150;
  margin-left: 0;
  margin-right: 0;
  width:auto;
  height:auto;
  bottom:2.5em;
  left:50%;
  transform:translateX(-50%);
}

.bol1, .bol2, .bol3, .bol4 {
  cursor: pointer;
  height: 0.8em;
  width: 0.8em;
  margin: 0 0.4em;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.bol1:hover, .bol2:hover, .bol3:hover, .bol4:hover {
  background-color: #73d700;
}

.active {
  background-color: #73d700;
}

.mySlides {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  transition: 0.3s ease;
}

.item2, .item3, .item4 {
  opacity: 0;
}

.show {
  opacity: 100;
}

.hide {
  opacity: 0;
}

/* __________________________FILTER__________________________ */

main>section:nth-of-type(2) {
  width: 80vw;
  height: 25vh;
  margin: 0 auto;
}

main>section:nth-of-type(2)>h1 {
  font-size: 2em;
}

main>section:nth-of-type(2)>span {
  height: 1em;
  width: 1em;
}

main>section fieldset {
  border-style: none;
  border-radius: 0.09em;
}

main>section fieldset:last-of-type input {
  display: inline-flex;
  justify-content: space-around;
  margin: 0 1em;
}

/* gemaakt met https://www.cssportal.com/style-input-range/ */
input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 3px #D6D6D6;
  background: #E3E3E3;
  border-radius: 14px;
  border: 0px solid #E0E0E0;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #73D700;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E3E3E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 3px #D6D6D6;
  background: #E3E3E3;
  border-radius: 14px;
  border: 0px solid #E0E0E0;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #73D700;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #E3E3E3;
  border: 0px solid #E0E0E0;
  border-radius: 28px;
  box-shadow: 1px 1px 3px #D6D6D6;
}
input[type=range]::-ms-fill-upper {
  background: #E3E3E3;
  border: 0px solid #E0E0E0;
  border-radius: 28px;
  box-shadow: 1px 1px 3px #D6D6D6;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 40px;
  border-radius: 12px;
  background: #73D700;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #E3E3E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E3E3E3;
}

/* __________________________ALLE VERHALEN__________________________ */

main>section:nth-of-type(3) {
  width: 80vw;
  height: 50vh;
  margin: 0 auto;
  margin-top: 5em;
}

main>section:nth-of-type(3)>article {
  background-color: #fff;
  width: 80vw;
  height: 42vh;
  position: relative;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  border: 0.06em solid #c8c8c8;
  margin-bottom: 2em;
  transition: 0.3s ease;
}



/* __________________________FOOTER__________________________ */

section:last-of-type>footer {
  height: 5em;
  width: 100%;
  margin-top: 90em;
  display: block;
  background-color: #73d700;
}

section:last-of-type>footer h3 {
  text-align: center;
  padding-top: 1em;
  font-weight: 400;
  color: #fff;
}

/* __________________________BREAKPOINTS__________________________ */

/* Medium scherm */

@media (min-width: 800px) {
  /* Navbar */
  nav>a {
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
  }
  nav>ul li:nth-of-type(2) a, nav>ul li:nth-of-type(3) a {
    visibility: visible;
    transition: 0.5s ease-in-out;
    margin-right: 2em;
  }

  nav>ul li:nth-of-type(2) a {
    margin-right: 8em;
  }
  a:first-of-type::before {
    margin-left: -3em;
  }

  /* Gehele teaser met carousel en 4 verhalen ernaast */
  main>section:first-of-type {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
  }
  /* Het hele carousel */
  main>section:first-of-type>div:first-of-type {
    width: 40vw;
    height: 34vh;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  main>section:first-of-type>h1 {
    grid-row: 1/3;
    grid-column: 1/3;
  }
  main>section:first-of-type>div div {
    width: 36vw;
    height: 34vh;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  main>section:first-of-type>div div.bolletjes {
    width:auto;
    height:auto;
  }
  main>section:first-of-type>div div article {
    width: 36vw;
    height: 34vh;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .bolletjes {
    bottom: 1em;
  }
  /* Verhalen naast het carousel */
main>section:first-of-type>div:last-of-type {
    width: 40vw;
    height: 34vh;
    grid-row: 2/3;
    grid-column: 3/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
  }
main>section:first-of-type>div:last-of-type article {
    width: 19vw;
    height: 16vh;
  }

  /* Filters */
  form {
    display: grid;
    grid-column: 1/3;
  }
  main>section:nth-of-type(2) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  main>section:nth-of-type(2)>h1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  main>section:nth-of-type(2)>form fieldset:first-of-type {
    grid-row: 2/2;
    width: 35vw;
  }
  main>section:nth-of-type(2)>form fieldset:nth-of-type(2) {
    grid-row: 2/2;
    width: 35vw;
  }
  /*  Alle verhalen */
  main>section:nth-of-type(3) {
    width: 80vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  main>section:nth-of-type(3)>article {
    width: 35vw;
  }
  /* Footer */
  section:last-of-type>footer {
    margin-top: 20em;
  }
}

/* Groot scherm */

@media (min-width: 1200px) {
  /* Footer */
  section:last-of-type>footer {
    margin-top: 20em;
  }
}
